.header {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(174, 160, 180, 0.808);
    h1 {
        color: white;
    }
}

.admin-message{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
